server
{
    listen 8080;
    root /var/www/html;
    domain_name webserv.com;
    location /images
    {
        root /var/www/images;
        methods GET POST;
    }
    location /upload
    {
        root /var/www/upload;
        methods GET POST DELETE;
    }
}
server
{
    listen 9090;
    root /var/www/site2;
    domain_name site2.com;
    location /api
    {
        root /var/www/api;
        methods GET;
    }
}