server
{
    listen 8080;
    index index.html;
    client_max_body_size 10000000;
    root /var/www/html;
    domain_name webserv.com;
    error_page 404 /var/www/errors/404.html;
    location /images
    {
        root /var/www/images;
        index image.html;
        methods GET POST;
        show_directory true;
        upload_dir /var/www/images/uploads;
        redirect_page 301 /new/images;
    }
    location /upload
    {
        root /var/www/upload;
        index upload.html;
        methods GET POST DELETE;
        cgi_extensions .php;
        show_directory false;
        upload_dir /var/www/upload/files;
        redirect_page 302 /upload/done;
    }
}
server
{
    listen 9090;
    index index.html;
    client_max_body_size 5000000;
    root /var/www/site2;
    domain_name site2.com;
    error_page 500 /var/www/errors/500.html;
    location /api
    {
        root /var/www/api;
        index api.html;
        methods GET;
        cgi_extensions .php .py;
        show_directory false;
        upload_dir /var/www/api/uploads;
        redirect_page 301 /api/v2;
    }
}


//test.config complet 