server
{
    listen 8080;
    root /var/www/html;
    domain_name webserv.com;
    location /images
    {
        root /var/www/images;
        methods GET;
    }
}
server
{
    listen 800;
    root /var/www/html;
    domain_name weserv.com;
    location /imaes
    {
        root /var/www/imaes;
        methods GET;
    }
}
