server
{
    listen 8080;
    index index.html;
    client_max_body_size 10000000;
    root /var/www/html;
    domain_name webserv.com;
    error_page 404 /var/www/errors/404.html;
    location /images
    {
        root /var/www/images;
        index image.html;
        methods GET POST;
        show_directory true;
    }
    location /upload
    {
        root /var/www/upload;
        methods GET POST DELETE;
        show_directory false;
    }
}
server
{
    listen 9090;
    root /var/www/site2;
    domain_name site2.com;
    error_page 500 /var/www/errors/500.html;
    location /api
    {
        root /var/www/api;
        methods GET;
    }
}


//test.config complet 