server {
    listen 8080;
    domain_name localhost;

    root /home/michel/Documents/webserv/HTTPRequest/www;
    index index.html;

    client_max_body_size 1000000;

    error_page 404 /home/michel/Documents/webserv/HTTPRequest/www/errors/404.html;

    location / {
        methods GET POST DELETE;
    }

    location /images {
        root /home/michel/Documents/webserv/HTTPRequest/www/images;
        methods GET;
    }

    location /docs {
        root /home/michel/Documents/webserv/HTTPRequest/www/docs;
        index index.html;
        methods GET;
    }

    location /browse {
        root /home/michel/Documents/webserv/HTTPRequest/www/browse;
        show_directory true;
        methods GET;
    }

    location /old-page {
        redirect_page 302 /new-page;
        methods GET;
    }

    location /upload {
        root /home/michel/Documents/webserv/HTTPRequest/www/upload;
        upload_dir /home/michel/Documents/webserv/HTTPRequest/www/upload;
        methods POST DELETE;
    }

    location /cgi-bin {
        root /home/michel/Documents/webserv/HTTPRequest/www/cgi-bin;
        methods GET POST;
        cgi_extensions .py;
        cgi_interpreter .py /usr/bin/python3;
    }
}