server
{
    listen 8080;
    root ./www;
    index index.html;
    client_max_body_size 20;
    error_page 404 ./www/errors/404.html;
    error_page 403 ./www/errors/403.html;
    error_page 500 ./www/errors/500.html;

    location /images
    {
        root ./www/images;
        methods GET DELETE;
    }

    location /docs
    {
        root ./www/docs;
        methods GET;
        index index.html;
    }

    location /browse
    {
        root ./www/browse;
        methods GET;
        show_directory true;
    }

    location /upload
    {
        root ./www/upload;
        methods POST DELETE;
        upload_dir ./www/upload;
    }

    location /old-page
    {
        methods GET;
        redirect_page 302 /new-page;
    }

    location /cgi-bin 
    {
        root ./www/cgi-bin;
        methods GET POST;
        cgi_extensions .py;
        cgi_interpreter .py /usr/bin/python3;
    }
}