server {
    listen 127.0.0.1:8080;
    domain_name localhost;

    root ./YoupiBanane;
    index youpi.bad_extension;
    client_max_body_size 200000000;

    error_page 400 /errors/400.html;
    error_page 403 /errors/403.html;
    error_page 404 /errors/404.html;
    error_page 405 /errors/405.html;
    error_page 413 /errors/413.html;
    error_page 500 /errors/500.html;
    error_page 501 /errors/501.html;
    error_page 505 /errors/505.html;

    location / {
        root ./YoupiBanane;
        index youpi.bad_extension;
        methods GET;
    }

    location /youpi.bla {
        root ./YoupiBanane;
        methods POST;
        cgi_interpreter .bla /mnt/c/Users/user/Desktop/WEBSERV_PROJECT/WBSERV/cgi_tester;
    }

    location /post_body {
        root ./YoupiBanane;
        upload_dir ./YoupiBanane;
        client_max_body_size 100;
        methods POST;
    }

    location //post_body {
        root ./YoupiBanane;
        upload_dir ./YoupiBanane;
        client_max_body_size 100;
        methods POST;
    }

    location /directory {
        root ./YoupiBanane;
        index youpi.bad_extension;
        show_directory true;
        methods GET;
    }

    location /directory/ {
        root ./YoupiBanane;
        index youpi.bad_extension;
        show_directory true;
        methods GET POST;
        cgi_interpreter .bla /mnt/c/Users/user/Desktop/WEBSERV_PROJECT/WBSERV/cgi_tester;
    }

    location /directory/Yeah {
        root ./YoupiBanane/__missing_yeah_without_slash;
        methods GET;
    }

    location /directory/Yeah/ {
        root ./YoupiBanane/Yeah;
        methods GET;
    }

    location //directory {
        root ./YoupiBanane;
        index youpi.bad_extension;
        show_directory true;
        methods GET;
    }

    location //directory/ {
        root ./YoupiBanane;
        index youpi.bad_extension;
        show_directory true;
        methods GET POST;
        cgi_interpreter .bla /mnt/c/Users/user/Desktop/WEBSERV_PROJECT/WBSERV/cgi_tester;
    }

    location //directory/Yeah {
        root ./YoupiBanane/__missing_yeah_without_slash;
        methods GET;
    }

    location //directory/Yeah/ {
        root ./YoupiBanane/Yeah;
        methods GET;
    }
}
